body{
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

input,
textarea{
    box-sizing: border-box;
}

.wrapper{
    max-width: 990px;
    margin: 0 auto;
}

.form-text-h1{
    text-align: center;
    font-size: 30px;
    color: #1f222c;
    font-weight: 700;
    font-family: "Roboto Slab";
    margin: 20px 0 100px 0;
}

.name-user{
    margin-bottom: 10px;
}

.hr{
    margin: 40px 0;
}

.title{
    font-size: 20px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #b3b3b3;
    font-weight: 700;
    font-family: "Roboto";
    padding: 0px 0 25px 0;
}

h1{
    font-size: 20px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #b3b3b3;
    font-weight: 700;
    font-family: "Roboto";
    padding: 0 0 25px 0;
}

.input{
    width: 290px;
    padding: 10px 15px 10px 15px;
    border: 1.5px solid #cccccc;
    border-radius: 3px;
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
    outline: none;
}

.input:hover{
    border: 1.5px solid #3d69ff;
    box-shadow: 0 0 5px 0px #3d69ff;
}

.sel-op{
    margin-top: 10px;
}

.text-area{
    margin: 10px 0;
}

.first-list{
    margin-right: 80px;
}

.list{
    border: 1.5px solid #cccccc;
    border-radius: 3px;
    padding: 9px 165px 9px 11px;
    outline: none;
}


.grey{
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
}

.flex{
    display: flex;
    padding-bottom: 35px;
}

.option-first{
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
    margin: 10px 0;
}

.buttom button{
    background-color: #12d661;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    border: none;
    border-radius: 3px;
    padding: 10px 90px;
}

.pop-text{
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
    padding: 10px;
    outline: none;
}